body {
    background-image: url(../img/drevnyaya_rus_1920h500_5_0\ \(1\)-photoaidcom-darken\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 97.7vh;
}
form {
    margin: 0rem 25rem;
    padding: 4rem 12rem;
    height: 55vh;
    border-radius: 10px;
}
input {
    width: 234px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.325);
    border-radius: 10px;
    margin-top: 1rem;
    display: block;
    outline: none;
    color: white;
    transition: 0.5s all;
    border: 1px solid #33beff00;
    padding: 0 50px 0 30px;
}
textarea {
    width: 234px;
    height: 80px;
    margin: 1rem 0rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.377);
    outline: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border: 1px solid #33beff00;
    resize: none;
    transition: 0.5s all;
    padding: 0 50px 0 30px;
}
input:focus::placeholder,
textarea:focus::placeholder {
    color: white;
}
input::placeholder,
textarea::placeholder {
    color: rgb(255, 255, 255);
    text-align: center;
}
button {
    width: 143px;
    height: 50px;
    margin: 0rem 5rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    transition: 0.5s all;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.411);
    cursor: pointer;
}
button:hover {
    background-color: #a9a08b;
}
form h1 {
    margin-left: 2rem;
    color: white;
}
/* Кнопка возрата на главную страницу */
.fixedbut {
    position: fixed;
    left: 20px;
    display: block;
    background-color: #343437d2;
    color: white;
    text-decoration: none;
    padding: 12px 12px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    margin: 2rem 0rem;
    transition: 0.5s all;
}
.fixedbut:hover {
    background-color: #a9a08b;
    box-shadow: 0px 0px 10px 2px #a9a08b;
}